<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenAndHaveCart</filter-name>
        <filter-class>filter.AuthenAndHaveCart</filter-class>
    </filter>
    <filter>
        <filter-name>HaveCart</filter-name>
        <filter-class>filter.HaveCart</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HaveCart</filter-name>
        <servlet-name>UpdateIteminCartServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenAndHaveCart</filter-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>GetOrderDetailServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>GetOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenAndHaveCart</filter-name>
        <servlet-name>ConfirmServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>FavouriteServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>GetFavServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>RemoveFavServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>GetAccountServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>GetVideoServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ChangePassInaccServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>servlet.ActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetproductServlet</servlet-name>
        <servlet-class>servlet.GetproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetdetailServlet</servlet-name>
        <servlet-class>servlet.GetdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>servlet.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemtoCartServlet</servlet-name>
        <servlet-class>servlet.AddItemtoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIteminCartServlet</servlet-name>
        <servlet-class>servlet.UpdateIteminCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>servlet.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>servlet.GetOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetailServlet</servlet-name>
        <servlet-class>servlet.GetOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteServlet</servlet-name>
        <servlet-class>servlet.FavouriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFavServlet</servlet-name>
        <servlet-class>servlet.GetFavServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFavServlet</servlet-name>
        <servlet-class>servlet.RemoveFavServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountServlet</servlet-name>
        <servlet-class>servlet.GetAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVideoServlet</servlet-name>
        <servlet-class>servlet.GetVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetpasswordServlet</servlet-name>
        <servlet-class>servlet.ResetpasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResetServlet</servlet-name>
        <servlet-class>servlet.GetResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassInaccServlet</servlet-name>
        <servlet-class>servlet.ChangePassInaccServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetproductServlet</servlet-name>
        <url-pattern>/Getproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetdetailServlet</servlet-name>
        <url-pattern>/Getdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemtoCartServlet</servlet-name>
        <url-pattern>/AddItemtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIteminCartServlet</servlet-name>
        <url-pattern>/UpdateIteminCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetailServlet</servlet-name>
        <url-pattern>/GetOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteServlet</servlet-name>
        <url-pattern>/Favourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFavServlet</servlet-name>
        <url-pattern>/GetFav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFavServlet</servlet-name>
        <url-pattern>/RemoveFav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountServlet</servlet-name>
        <url-pattern>/GetAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVideoServlet</servlet-name>
        <url-pattern>/GetVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetpasswordServlet</servlet-name>
        <url-pattern>/Resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResetServlet</servlet-name>
        <url-pattern>/GetReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassInaccServlet</servlet-name>
        <url-pattern>/ChangePassInacc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>montho.jsp</welcome-file>
    </welcome-file-list>
</web-app>
